{% extends "base.html.twig" %}

{% block title %}UE08 REST & AJAX: Create Database{% endblock %}
{% block main %}
    <h2>GET /createdb</h2>
    <p>This page creates the necessary database, table and user entries for running the exercise.</p>

    <h3>Results</h3>
    <p>Database created: {{ schemaCreated }}.</p>
    <p>Table created: {{ tableCreated }}.</p>
    <p>Number of users created: {{ nrOfUsersCreated }}.</p>
{% endblock main %}
