{% extends "base.html.twig" %}

{% block title %}UE05 Login: Login Page{% endblock title %}
{% block main %}
    <h2>GET /login</h2>
    <p>Please log in to access the "GET /main" route.</p>

    <div class="border p-3 mt-5">
        <h3>Login</h3>

        {{ include("errors.html.twig") }}

        <form method="post" action="{{ url_for("/login") }}" novalidate>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ email }}"
                       placeholder="you@example.com" aria-describedby="emailHelp" autocomplete="email" required>
                <div id="emailHelp" class="form-text">Please enter the email address you registered with.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Password" aria-describedby="passwordHelp" autocomplete="current-password"
                       required>
                <div id="passwordHelp" class="form-text">Please enter your selected password.</div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
{% endblock main %}