{% extends "base.html.twig" %}

{% block title %}UE05 Login: Main Page{% endblock %}
{% block main %}
        <h2>GET /main</h2>
        <p>This is main page. You can only access it after a successful login.</p>

        <h3>Welcome {{ session("email") }}</h3>
        <p>You have successfully logged in!</p>

        <p><a href="{{ url_for("/logout") }}">Log out</a></p>
{% endblock main %}